<h1>{{{name}}}</h1>

{{#detail.portrait}}
<hr />
<img class="portrait" src="assets/img/{{detail.portrait}}.png" />
<hr />
{{/detail.portrait}}

<div class="tags">
    {{#tags}}
    <div class="tag">
        <img src="assets/img/icon-small-{{.}}.png" alt="{{.}}" />
        <p>{{.}}</p>
    </div>
    {{/tags}}
</div>

<h2>Info</h2>

<ul>
    {{#detail.info}}
    <li><span>{{.}}</span></li>
    {{/detail.info}}
</ul>

<h2>Description</h2>

<p>{{detail.description}}</p>

{{#detail.history}}

<h2>History</h2>

{{/detail.history}}

<ul>
    {{#detail.history}}
    <li>
        <h3>{{date}}</h3>
        {{#notes}}
        <ul>
            <li><span>{{.}}</span></li>
        </ul>
        {{/notes}}
    </li>
    {{/detail.history}}
</ul>